
#side_bar {
transition: transform 0.3s ease, opacity 0.3s ease;
}

#side_bar.hidden {
transform: translateX(-100%);
opacity: 0;
}

#side_bar.visible {
transform: translateX(0);
opacity: 1;
}

.rotate-icon {
transition: transform 0.3s ease;
}

.rotated {
transform: rotate(90deg);
}


