{% extends "base.html" %}
{% load static tailwind_tags %}

{% block title %}Battery Management System{% endblock %}

{% block content %} 

<!-- Energy Storage System -->
<section class="p-4 sm:p-6 space-y-6 ">
    <h1 class="text-green-500 text-2xl font-semibold text-center sm:text-center">Spacesoft Smart BMS</h1>
    <div class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-3 xl:grid-cols-3 gap-6">

        <!-- Advanced 16 Cell BMS -->
        <div class="shadow-lg rounded-md shadow-neutral-500 bg-white">
            <h1 class="text-green-500 text-xl font-semibold text-center">Advanced 16 Cell BMS</h1>
            <div class="pt-3 flex justify-center">
                <img src="{% static 'img/bm1.webp' %}" class="w-full max-w-[350px] object-contain" alt="Energy Storage System">
            </div>
            <div class="pt-4 px-4">
                <p class="text-sm text-gray-700 leading-relaxed">
                    The 16 Cell BMS is a cutting-edge solution for managing energy storage systems with precision and efficiency. Designed to support 16 cells connected in series, it seamlessly integrates with any type of battery, ensuring versatility across applications.
                </p>
                <ul class="list-disc ml-6 mt-3 text-left text-sm text-gray-700">
                    <li><strong> Supports 16 cells connected in series.</strong></li>
                    <li><strong>Supports Lithium phosphate 3.2V </strong></li>
                    <li><strong> Current ranges from 100A-200A/48V(51.2V).</strong></li>
                </ul>
                <div class="text-center pt-6">
               
                </div>
            </div>
        </div>

        <!-- Advanced 8 Cell BMS -->
        <div class="shadow-lg rounded-md shadow-neutral-500 bg-white">
            <h1 class="text-green-500 text-xl font-semibold text-center">Advanced 8 Cell BMS</h1>
            <div class="pt-3 flex justify-center">
                <img src="{% static 'img/bm1.webp' %}" class="w-full max-w-[350px] object-contain" alt="Energy Storage System">
            </div>
            <div class="pt-4 px-4">
                <p class="text-sm text-gray-700 leading-relaxed">
                    The 8 Cell BMS supports 8 cells in series and works with any battery type. It ensures safe operation, monitors performance, and provides a current range of 50A-100A/24V(29.6V), optimizing battery efficiency and longevity.
                </p>
                <ul class="list-disc ml-6 mt-3 text-left text-sm text-gray-700">
                    <li><strong> Supports 8 cells connected in series.</strong></li>
                    <li><strong>Supports Lithium phosphate 3.2V </strong></li>
                    <li><strong>Current ranges from 50A-100A/24V(29.6V)</strong></li>
                </ul>
                <div class="text-center pt-6">
               
                </div>
            </div>
        </div>

        <!-- Advanced 4 Cell BMS -->
        <div class="shadow-lg rounded-md shadow-neutral-500 bg-white">
            <h1 class="text-green-500 text-xl font-semibold text-center">Advanced 4 Cell BMS</h1>
            <div class="pt-3 flex justify-center">
                <img src="{% static 'img/bm1.webp' %}" class="w-full max-w-[350px] object-contain" alt="Energy Storage System">
            </div>
            <div class="pt-4 px-4">
                <p class="text-sm text-gray-700 leading-relaxed">
                    The 4 Cell BMS supports 4 cells in series, ensuring safe and efficient battery operation. It’s compatible with various batteries, offering a current range of 30A-50A/12V(12.8V). Reliable and durable for optimal performance.
                </p>
                <ul class="list-disc ml-6 mt-3 text-left text-sm text-gray-700">
                    <li><strong>Supports 4 cells connected in series</strong></li>
                    <li><strong>Supports Lithium phosphate 3.2V </strong></li>
                    <li><strong> Current ranges from 30A-50A/12V(12.8V)</strong></li>
                </ul>
                <div class="text-center pt-6">
               
                </div>
            </div>
        </div>
        <!-- Advanced 14 Cell BMS -->
        <div class="shadow-lg rounded-md shadow-neutral-500 bg-white">
            <h1 class="text-green-500 text-xl font-semibold text-center">Advanced 14 Cell BMS</h1>
            <div class="pt-3 flex justify-center">
                <img src="{% static 'img/bm1.webp' %}" class="w-full max-w-[350px] object-contain" alt="Energy Storage System">
            </div>
            <div class="pt-4 px-4">
                <p class="text-sm text-gray-700 leading-relaxed">
                    The 14 Cell BMS is a cutting-edge solution for managing energy storage systems with precision and efficiency. Designed to support 14 cells connected in series, it seamlessly integrates with any type of battery, ensuring versatility across applications.
                </p>
                <ul class="list-disc ml-6 mt-3 text-left text-sm text-gray-700">
                    <li><strong> Supports 14 cells connected in series</strong></li>
                    <li><strong>Supports lithium ion 3.7</strong></li>
                    <li><strong> Current ranges from 100A-200A/48V(51.8V)</strong></li>
                </ul>
                <div class="text-center pt-6">
               
                </div>
            </div>
        </div>

        <!-- Advanced 7 Cell BMS -->
        <div class="shadow-lg rounded-md shadow-neutral-500 bg-white">
            <h1 class="text-green-500 text-xl font-semibold text-center">Advanced 7 Cell BMS</h1>
            <div class="pt-3 flex justify-center">
                <img src="{% static 'img/bm1.webp' %}" class="w-full max-w-[350px] object-contain" alt="Energy Storage System">
            </div>
            <div class="pt-4 px-4">
                <p class="text-sm text-gray-700 leading-relaxed">
                    The 7 Cell BMS supports 8 cells in series and works with any battery type. It ensures safe operation, monitors performance, and provides a current range of 50A-100A/24V(25.9V), optimizing battery efficiency and longevity.
                </p>
                <ul class="list-disc ml-6 mt-3 text-left text-sm text-gray-700">
                    <li><strong> Supports 7 cells connected in series</strong></li>
                    <li><strong>Supports lithium ion 3.7</strong></li>
                    <li><strong>Current ranges from 50A-100A/24V(25.9V)</strong></li>
                </ul>
                <div class="text-center pt-6">
               
                </div>
            </div>
        </div>

        <!-- Advanced 4 Cell BMS -->
        <div class="shadow-lg rounded-md shadow-neutral-500 bg-white">
            <h1 class="text-green-500 text-xl font-semibold text-center">Advanced 4 Cell BMS</h1>
            <div class="pt-3 flex justify-center">
                <img src="{% static 'img/bm1.webp' %}" class="w-full max-w-[350px] object-contain" alt="Energy Storage System">
            </div>
            <div class="pt-4 px-4">
                <p class="text-sm text-gray-700 leading-relaxed">
                    The 4 Cell BMS supports 4 cells in series, ensuring safe and efficient battery operation. It’s compatible with various batteries, offering a current range of 30A-50A/12V(14.8V). Reliable and durable for optimal performance.
                </p>
                <ul class="list-disc ml-6 mt-3 text-left text-sm text-gray-700">
                    <li><strong>Supports 4 cells connected in series</strong></li>
                    <li><strong>Supports lithium ion 3.7</strong></li>
                    <li><strong> Current ranges from 30A-50A/12V(14.8V)</strong></li>
                </ul>
                <div class="text-center pt-6">
               
                </div>
            </div>
        </div>

    </div>
</section>

{%endblock%}